@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --black: #16191c;
    --white-20: rgba(255, 255, 255, 0.20);
    --white-50: rgba(255, 255, 255, 0.50);
    --white: #FFFFFF;
    --accent:#82be90;
    --accent-disabled:rgb(66, 110, 76);
}

body{
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    color: var(--white);

}
/* Presets */
h1, h2, h3, h4{
    font-family: "Josefin Sans", sans-serif;
}
ul{
    list-style: none;
}
.hidden{
    display: none;
}
/* Acordeon tracks playlists */
.tracksList{
    height: 0;
    overflow: hidden;
    transition: 0.7s;
}

.playlist-active{
    border: 1px solid var(--accent);
    background-color: var(--white-50);
    color: var(--black);
    & .tracksList{
        padding: .3rem;
        height: auto;
    }
}

/** HEADER */
header{
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    & nav{
        justify-self: right;
        & ul{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            & li{
                padding: 0 1rem;
                & a{
                    /* border-top: 1px solid transparent;*/
                    border-bottom: 1px solid transparent; 
                    padding: 4px 0; /*not working*/
                    text-decoration: none;
                    color: var(--accent-disabled);
                    transition: .7s ease-out;
                    -webkit-transition: .7s ease-out;
                    -moz-transition: .7s ease-out;
                    -ms-transition: .7s ease-out;
                    -o-transition: .7s ease-out;
    
                }
                & a:hover, a.active{
                    border-color: var(--accent);
                    color: var(--accent);
                }
                & button{
                    background-color: var(--accent-disabled);
                    border: 1px solid var(--accent-disabled);
                    color: var(--white);
                    padding: .5rem;
                    border-radius: 20px;
                }
                & button:hover{
                    /* background-color: var(--accent); */
                    border: 1px solid var(--accent);
                    color: var(--accent);
                    transition: .3s ease-out;
                }
            }
        }
    }
}


/** FOOTER */
footer{
    flex:0 0 auto;
}

/*? MODAL */
.modal{
    position: fixed;
    z-index: 3;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.oculta-modal{
    display: none;
}

/* Modal Content/Box */
.modal-container {
    position: relative;
    /* margin: auto; */
    padding: 0;
    width: 95%;
    height: 100%;
    animation: modal;
    animation-duration: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* The Close Button */
.modal-container i {
    color: var(--grey);
    align-self: flex-end;
    padding: 0.5rem;
    font-size: 1.75rem;
    font-weight: bold;
    transition: transform ease 0.3s;
}

.modal-container i:hover,
.modal-container i:focus {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.15);
}

/* Add Animation */
@keyframes modal {
    from {
        top: -300px;
         opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/** MAINS */

main{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*? Main index */
/* Playlist Container */
.playlist-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    & .playlist-div{
        display: grid;
        grid-template-columns: 1fr;
        background-color: var(--white-20);
        padding: 1rem;
        border-radius: 5px;
        & figure{
            width: 100%;
            & img{
                width: 100%;
            }
        }
        & h4{
            
        }
        & p{

        }
        & .tracksList li{
            padding: .5rem 0;
            border-top: 1px solid var(--white-20);
            border-bottom: 1px solid var(--white-20);
            display: flex;
            flex-wrap: wrap;
            gap: .3rem;
        }
        & .tracksList .track-active{
            border-top: 1px solid var(--accent);
            border-bottom: 1px solid var(--accent);
            background-color: var(--white-20);
            display: flex;
            flex-wrap: wrap;
            gap: .3rem;
        }
        
    }
}

/*? Main profile */
/*? Main form */




/* ? MEDIA QUERY */
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1440px) {
    
}
@media screen and (min-width: 2560px) {
    
}

