@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --black: #16191c;
    --white-05: rgba(255, 255, 255, 0.05);
    --white-20: rgba(255, 255, 255, 0.20);
    --white-30: rgba(255, 255, 255, 0.30);
    --white-50: rgba(255, 255, 255, 0.50);
    --white: rgba(255, 255, 255, 0.80);
    --accent:#82be90;
    --accent-disabled:rgb(66, 110, 76);
    /* --gradient: linear-gradient(180deg, rgba(130,190,144,1) 0%, rgba(75,106,85,1) 0%, rgba(57,78,65,1) 11%, rgba(50,68,58,1) 14%, rgba(41,55,49,1) 17%, rgba(22,25,28,1) 29%, rgba(22,25,28,1) 52%); */
}

body{
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Open Sans", sans-serif;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: var(--black);
    color: var(--white);
}
/* Presets */
h1, h2, h3, h4{
    font-family: "Josefin Sans", sans-serif;
}
ul{
    list-style: none;
}
.hidden{
    display: none;
}
/* Acordeon tracks playlists */
.tracksList{
    height: 0;
    overflow: hidden;
    transition: 0.7s;
}

.playlist-active{
    border: 1px solid var(--accent);
    background-color: var(--white-50);
    color: var(--black);
    & .tracksList{
        padding: .3rem;
        height: auto;
    }
}

/** HEADER */
header{
    flex: 0 0 auto;
    width: 100%;
    height: 11vh;
    display: grid;
    grid-template-columns: 2.2rem 1fr  auto;
    align-items: center;
    justify-content: left;
    padding: .5rem;
    gap: .5rem;
    & figure{
        max-width: 2.2rem;
        & img{
            width: 100%;
            border-radius: 50%;
            border: 1px solid var(--accent-disabled);
        }
    }
    & h1{
        width: 1fr;
    }
}

.logIn{
    background-color: var(--accent-disabled);
    border: 1px solid var(--accent-disabled);
    color: var(--white);
    padding: .7rem;
    border-radius: 1.5rem;
    justify-self: right;
    max-width: max-content;
    font-size: 1rem;
}
.logIn:hover{
    /* background-color: var(--accent); */
    border: 1px solid var(--accent);
    color: var(--accent);
    transition: .3s ease-out;
}


/** FOOTER */
footer{
    flex:0 0 auto;
    background-color: var(--white-05);
    border-top: 1px solid var(--white-20);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    & a{
        text-decoration: none;
        color: var(--white-50);
    }
    & a:hover{
        color: var(--accent);
    }
    & >ul{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
        justify-content: left;
        align-items: start;
        & li:nth-child(2){
            grid-row: span 3;
            justify-self: end;
            & ul{
                display: flex;
                gap: 1rem;
                font-size: 1.2rem;
            }
            
        }
    }
    & div{
        text-align: center;
        & a{
            color: var(--accent-disabled);
        }
    }
}


/** MAIN */
main{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    & section{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }
}
.track{
    padding: .5rem 0;
    border-top: 1px solid var(--white-20);
    border-bottom: 1px solid var(--white-20);
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
    & p:first-child{
        width: 100%;
    }
    & a{
        width: 100%;
        text-decoration: none;
        color: var(--accent-disabled);
    }
    & a:hover{
        color: var(--accent);
    }
    & audio::-webkit-media-controls-panel {
        background-color: var(--accent);
    } 
    & audio::-webkit-media-controls-mute-button,
    audio::-webkit-media-controls-current-time-display,
    audio::-webkit-media-controls-time-remaining-display,
    audio::-webkit-media-controls-timeline {
        display: none;
    }
    & audio::-webkit-media-controls-mute-button,
    audio::-webkit-media-controls-timeline-container,
    audio::-webkit-media-controls-current-time-display,
    audio::-webkit-media-controls-time-remaining-display,
    audio::-webkit-media-controls-timeline,
    audio::-webkit-media-controls-volume-slider-container,
    audio::-webkit-media-controls-volume-slider,
    audio::-webkit-media-controls-seek-back-button,
    audio::-webkit-media-controls-seek-forward-button,
    audio::-webkit-media-controls-fullscreen-button,
    audio::-webkit-media-controls-rewind-button,
    audio::-webkit-media-controls-return-to-realtime-button,
    audio::-webkit-media-controls-toggle-closed-captions-button{
        display: none;
    }
}
/*? SECTION Instructions */
/* #index{
    background: var(--gradient);
} */

.hero {
    padding: 2rem;
    background-image: url(../media/hero-dark.png);
    background-size: cover;
    min-height: 89vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    & h2{
        font-size: 3rem;
        line-height: 110%;
        text-align: center;
    }
    & h3{
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 1rem;
        letter-spacing: .07rem;
    }
}
.instructions{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    min-height: 100vh;
    & h4{
        font-size: 1.3rem;
        color: var(--accent);
        width: 100%;
    }
    & ol{
        width: 100%;
        padding-left: 3rem;
        & li{
            padding-bottom: 1rem;
        }
        & li::marker{
            color: var(--accent);
            font-weight: bold;
            letter-spacing: .2rem;
        }
    }
    & p:nth-last-of-type(1){
        font-style: italic;
        text-align: center;
        color: var(--white-50);
    }
    & button{
        width: 100px;
    }
}
/*? SECTION Profile */
.profile{
    display: grid;
    grid-template-columns: minmax(100px,13%) 1fr;
    justify-content: center;
    & figure{
        order: 0;
        grid-row: span 4;
        & img{
            width: 100%;
            border-radius: 0.8rem;
        }
    }
}
/*? SECTION Playlist Container */
.playlist-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    & h3{
        font-size: 1.7rem;
    }
    & button{
        order: 1;
    }
    & .playlist-div{
        display: grid;
        grid-template-columns: minmax(70px,13%) 1fr;
        column-gap: .5rem;
        background-color: var(--white-20);
        padding: .5rem;
        border-radius: 0.7rem;
        color: var(--white);
        width: 100%;
        & figure{
            width: 100%;
            grid-row: span 3;
            display: flex;
            & img{
                width: 100%;
                border-radius: 0.5rem;
                justify-content: center;
                align-items: center;
    
            }
        }
        & h4{
            font-size: 1.2rem;
            font-weight: normal;
            align-self: center;
            grid-row: span 2;           
        }
        & > p{
            text-align: right;
            align-self: end;
            color: var(--white-30);
        }
        & .tracksList {
            grid-column: span 2;
            /* & .track{
                padding: .5rem 0;
                border-top: 1px solid var(--white-20);
                border-bottom: 1px solid var(--white-20);
                display: flex;
                flex-wrap: wrap;
                gap: .3rem;
                & p:first-child{
                    width: 100%;
                }
                & a{
                    width: 100%;
                    text-decoration: none;
                    color: var(--accent-disabled);
                }
                & a:hover{
                    color: var(--accent);
                }
                & audio::-webkit-media-controls-panel {
                    background-color: var(--accent);
                } 
                & audio::-webkit-media-controls-mute-button,
                audio::-webkit-media-controls-current-time-display,
                audio::-webkit-media-controls-time-remaining-display,
                audio::-webkit-media-controls-timeline {
                    display: none;
                }
                & audio::-webkit-media-controls-mute-button,
                audio::-webkit-media-controls-timeline-container,
                audio::-webkit-media-controls-current-time-display,
                audio::-webkit-media-controls-time-remaining-display,
                audio::-webkit-media-controls-timeline,
                audio::-webkit-media-controls-volume-slider-container,
                audio::-webkit-media-controls-volume-slider,
                audio::-webkit-media-controls-seek-back-button,
                audio::-webkit-media-controls-seek-forward-button,
                audio::-webkit-media-controls-fullscreen-button,
                audio::-webkit-media-controls-rewind-button,
                audio::-webkit-media-controls-return-to-realtime-button,
                audio::-webkit-media-controls-toggle-closed-captions-button{
                    display: none;
                }
            } */
        }
        & .tracksList .track-active{
            border-top: 1px solid var(--accent);
            border-bottom: 1px solid var(--accent);
            background-color: var(--white-20);
            display: flex;
            flex-wrap: wrap;
            gap: .3rem;
        }
        
    }
}
/* SECTION Recommendations Container */

/*? Main form */
form{
    margin-top: 2rem;
    accent-color: var(--accent);
    text-align: center;
}
form ul{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    & li{
        width: 100%;
        & a{
            text-decoration: none;
            color: var(--accent-disabled);
            padding-left: .5rem;
        }
        & a:hover{
            color: var(--accent);
        }
        & input::placeholder, textarea::placeholder, label{
            font-family: "Open Sans", sans-serif;
            padding-left: .3rem;
        }
        & input:not(input[type="checkbox"], input[type="submit"]), textarea{
            width: 100%;
            background-color: var(--white-20);
            border: none;
            border-bottom:1px solid var(--accent-disabled);
            border-radius: 0.15rem;
            padding: .3rem;
            line-height: 1.5rem;
            font-size: 1.1rem;
        }
        & input:not(input[type="checkbox"], input[type="submit"]):hover, textarea:hover,input:not(input[type="checkbox"], input[type="submit"]):focus, textarea:focus{
            background-color: var(--white-50);
            border:2px solid var(--accent);
            color: var(--accent);
        }
        /* & input[type="text"]::placeholder:hover, input[type="email"]::placeholder:hover,textarea::placeholder:hover, input[type="text"]:focus::placeholder, input[type="email"]::placeholder:focus,textarea::placeholder:focus{
            color: var(--accent-disabled);
        } */
    }
}

/*? MODAL */
.modal{
    position: fixed;
    z-index: 3;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.oculta-modal{
    display: none;
}

/* Modal Content/Box */
.modal-container {
    position: relative;
    /* margin: auto; */
    padding: 0;
    width: 100%;
    height: 100%;
    animation: modal;
    animation-duration: 1s;
    /* transition: display 1s ease-in-out; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Div consulta */
.consulta{
    background-color: var(--accent-disabled);
    border-radius: 0.5rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    & input{
        padding-left: 1rem;
        background-color: transparent;
        border: none;
        height: 100%;
        font-size: 1rem;
    }
    & input::placeholder{
        color: var(--white);
        font-size: 1rem;
    }
}

/* The Close Button */
.modal-container button {
    background-color: transparent;
    border: none;
    & i {
        color: var(--white);
        align-self: flex-end;
        padding: 0.5rem;
        font-size: 1.1rem;
        font-weight: bold;
        transition: transform ease 0.3s;
    }
}

.modal-container i:hover,
.modal-container i:focus {
    color: var(--accent);
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.15);
}

/* Add Animation */
@keyframes modal {
    from {
        /* top: -300px; */
         opacity: 0
    }
    to {
        /* top: 0; */
        opacity: 1
    }
}


/* ? MEDIA QUERY */
@media screen and (min-width: 768px) {
    .instructions{
        width: 80vw;
        margin: auto;
    }
    form ul{
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    :root{
        font-size: 18px;
    }
    .instructions{
        width: 70vw;
    }
    footer ul, footer div{
        width: 70%;
        margin: auto;
    }
    /* footer div{
        display: flex;
        gap: 1rem;
        justify-content: center;
    } */
}

@media screen and (min-width: 1440px) {
    :root{
        font-size: 20px;
    }
    
}
@media screen and (min-width: 2560px) {
    :root{
        font-size: 36px;
    }
    
}

